{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>X2M connect</title>
        <!-- Favicon-->
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style/about_product.css'%}" rel="stylesheet">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container px-1" style="padding-left:10%;padding-right:10%;">
                <a class="navbar-brand" href="{%url 'main_page'%}"><img src="{% static 'images/FS-home-logo.png'%}" style="width:50%;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'about_company'%}">{% trans "Company" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about_business'%}">{% trans "Business" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about_product'%}">{% trans "Product" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">{% trans "Contract" %}</a></li>
                        <!-- dropdown -->
                        {% load i18n %}
                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                              {% trans "Language"%}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <li>
                                    <button type="submit" name="language" value="{{ language.code }}" class="dropdown-item">
                                        {{ language.name_local }}
                                    </button>
                                </li>
                                {% endfor %}
                            </ul>
                        <li>
                        </form>
                        <!--/ dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <header>
            <div>
                <div class="header">
                <img src="{% static 'images/product.jpg'%}" alt="product" style="width:100%;">
                <div class="header_text">
                    <p class="fw-light">
                        <b>PRODUCT</b>
                    </p>    
                </div>
                </div>
            </div>
        </header>

        <!-- Introduction section-->
        <section class="py-5 border-bottom intro_section">
            <div class="container px-3 my-5 intro_div">
                <div class="row">
                    <div>
                        <div class="intro_head">
                            <p><b>{% trans 'Product Introduction'%}</b></p>
                            <hr>
                        </div>
                        <div class="intro">
                            <div class="py-4 intro_image">
                                <div>
                                    <p class="image_title">
                                        <span>{% include './icons/icons8-info.svg' %}</span>
                                        <span class="image_text">{%trans "Configuration" %}</span>
                                    </p>
                                </div>
                                <img src="{% static 'images/config.png'%}" alt="config">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5">
                <p class=" text-center text-white">
                    <img src="{% static 'images/FS-home-logo.png'%}"><br>
                    <span>Copyright &copy; X2M 2022</span>
                </p> 
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
