{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Media Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="{% static 'css/style/new_detail.css' %}" rel="stylesheet" />
  </head>
  <body>
    <header class="sticky">
      <!-- <div class="logo"><h1>This is the header.</h1></div>

      <nav>
        <ul>
          <li>
            <a href="#">Function1</a>
            <a href="#">Function2</a>
            <a href="#">Function3</a>
          </li>
        </ul>
      </nav> -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky">
        <div
          class="container px-1"
          style="padding-left: 10%; padding-right: 10%"
        >
          <a class="navbar-brand" href="{%url 'main_page'%}"
            ><img
              src="{% static 'images/FS-home-logo.png'%}"
              style="width: 50%"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" href="{% url 'about_company'%}">{% trans "Company" %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_business'%}">{% trans "Business" %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_product'%}">{% trans "Product" %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'socialMedia'%}">{% trans "News" %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'contact'%}">{% trans "Contact" %}</a></li>
              <!-- dropdown -->
              {% load i18n %}
              <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {% trans "Language"%}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% get_current_language as LANGUAGE_CODE %}
                    <!--防止tag錯誤-->
                    {%get_available_languages as LANGUAGES %}
                    <!--防止tag錯誤-->
                    {%get_language_info_list for LANGUAGES as languages %}
                    <!--防止tag錯誤-->
                    {% for language in languages %}
                    <li>
                      <button
                        type="submit"
                        name="language"
                        value="{{ language.code }}"
                        class="dropdown-item"
                      >
                        {{ language.name_local }}
                      </button>
                    </li>
                    {% endfor %}
                  </ul>
                </li>

                <li></li>
              </form>

              <!--/ dropdown -->
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- <a href="#" class="goBack">點擊回到新聞主頁面</a> -->

    <!-- <a
      href="https://www.eettaiwan.com/20220523ta71-artificial-intelligence-on-the-edge/"
      >real website</a
    > -->
    <!-- get the news content, it will be removed in js-->
    <p>{{ new.content }}</p>

    <main>
      <div class="top">
        <button type="button" class="btn btn-secondary">
          <a href="{% url 'socialMedia'%}" class="goBack">&larr;新聞主頁面</a>
        </button>

        <!-- <button></button> -->
      </div>
      <div class="container">
        <div class="row all-content">
          <div class="col-12 col-md-8 new-content">
            <section class="new">
              <div class="container">
                <div class="row justify-content-between">
                  <!-- <div class="dropdown col-4">
                    <div class="container">
                      <div class="row justify-content-end">
                        <div class="col-5">
                          <button
                            class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="dropdownMenu2"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            新聞管理
                          </button>
                          <ul
                            class="dropdown-menu"
                            aria-labelledby="dropdownMenu2"
                          >
                            <li>
                              <a
                                class="dropdown-item"
                                href="{% url 'news_create' %}"
                                >新增</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="{% url 'news_edit' pk=new.pk %}"
                                >修改</a
                              >
                            </li>
                            <li>
                              <a class="dropdown-item remove" href="#">刪除</a>
                              <input
                                type="hidden"
                                id="remove"
                                data-url="{% url 'news_remove' pk=new.pk %}"
                              />
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>

              <div class="title"><h2>{{ new.title }}</h2></div>
              <div class="keyword"><p>{{ new.keyword|linebreaksbr }}</p></div>
              {% if new.published_date %}
              <div class="col-4 date">
                <time class="date"> {{ new.published_date.date }} </time>
              </div>

              {% endif %}
              <!--add content in js-->
              <div class="newsContent"></div>
            </section>
          </div>
          <div class="col-12 col-md-4">
            <section class="complementary">
              <h3>其他新聞</h3>
              {% for new in new_list %}
              <article>
                <div class="newBody">
                  <div class="date">{{ new.published_date.date }}</div>
                  <a href="{% url 'new_detail' pk=new.pk %}" class="title"
                    ><div class="title">
                      <h4>{{ new.title }}</h4>
                      <h6>{{ new.keyword }}</h6>
                    </div></a
                  >
                </div>
              </article>
              {% endfor %}
            </section>
          </div>
        </div>
      </div>
    </main>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.7.1.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/new_detail.js' %}"></script>
  </body>
</html>
