/*  header  */
header {
    margin-top: 70px;
    height:100%;
    position: relative;
    justify-content: center;
}

.header_text{
    position: absolute;
    top:36%;
    left:41%;
}

.header_text p{
    color: white;
    font-size:6vw;
    font-family: 'Bebas Neue', cursive;
}

.header_text b{
    font-weight: 700;
}


/* @media screen and (max-width:1024px) {
    .header_button,.header_text h1{
        color: white;
        font-size:42px;
    }
  }

  @media screen and (max-width:768px) {
    .header_button,.header_text h1{
        color: white;
        font-size:28px;
    }
  } */

/* intro */
.intro_section{
    justify-content: center;
}

.intro_div{
    justify-content: center;
}

.intro_head p{
    color:#00b274;
    font-size: 2vw;
    padding-left: 30px;
}

.intro{
    padding-right:30px;
    padding-left:30px;
}

.intro_head hr {
    width: 100%;
    text-align: left;
    border: #00b274 solid 1px;
}

.intro_title{
    font-size: 1.8vw;
    padding-top:10px;
    padding-bottom: 10px;
}

.image_title {
    font-size: 1.5vw;
    padding-top:10px;
    padding-bottom: 10px;
}

.image_text{
    color:#616161;
}

.intro_image img {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width:1024px) {
    .intro{
        width:100%;
        padding-right:20px;
        padding-left:20px;
    }
    .intro_head p{
        padding-left: 20px;
    }
  }

/* footer */
footer img {
    width:20%;
    padding-bottom: 20px;}