/*  header  */
header {
    margin-top: 70px;
    height:100%;
}

/*carousel*/
.carousel-item img {
    object-fit: cover;
}

.text-start h1{
    color: white;
}

.text-start {
    position: absolute;
    top:25%;
    left: 10%;
}

@media screen and (max-width:720px) {
    .carousel-inner {
        height:300px;
    }
}
@media screen and (min-width:720px) and (max-width:1200px) {
    .carousel-inner{
        height:450px;
    }

  }
@media screen and (min-width:1200px) {
    .carousel-inner{
        height:600px;
    }
  }

/*intro*/
.intro{
    height: auto;
}

.intro_image {
    width: 40%;
    position: relative;
    float: left;
    padding: 20px;
}

.intro_image img{
    width:100%;
}

.intro_text {
    width:60%;
    float: left;
    padding:20px;
}

.intro_text p {
    font-size: 24px;
    line-height: 1.5;
}

.intro_business{
    padding: 20px;
    justify-content: center; 
}

.intro_business_text {
    padding: 20px;
    width:50%;

}

.intro_business_text p {
    padding-top: 30px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
    color: gray;
}


@media screen and (max-width:1200px) {
    .intro_image,.intro_text,.intro_business_text {
        width: 100%;
    }
    .intro_business{
        padding:0;
        padding-top:20px;
        padding-bottom: 20px;
        justify-content:left; 
    }
  }

/*about us part*/
.aboutUs{
    width: 100%;
    position: relative;
}
.aboutUs img{
    width:100%;
    height: auto;
}
.aboutUs div {
    position: absolute;
    width:60%;
    top:40%;
    left:5%;
}
.aboutUs p{
    color: white;
    font-size:35px;
}
.aboutUs .aboutUs_button {
    padding-top: 10px;
}
.aboutUs .aboutUs_button a{
    border: 1px solid #00b274;
    color:white;
    font-size:30px;
    background-color: transparent;
}
.aboutUs .aboutUs_button a:hover{
    background-color: #00b274;
}

@media screen and (max-width:720px) {
    .aboutUs div {
        position: absolute;
        width:100%;
        top:35%;
        left:5%;
    }
    .aboutUs p{
        color: white;
        font-size:25px;
    }
    .aboutUs .aboutUs_button a{
        border: 1px solid #00b274;
        color:white;
        font-size:20px;
        background-color: transparent;
    }
}

@media screen and (min-width:720px) and (max-width:1200px) {
    .aboutUs div {
        position: absolute;
        width:100%;
        top:35%;
        left:5%;
    }
    .aboutUs p{
        color: white;
        font-size:30px;
    }
    .aboutUs .aboutUs_button a{
        border: 1px solid #00b274;
        color:white;
        font-size:25px;
        background-color: transparent;
    }
  }

/* Videobox */
.videobox {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.videobox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer */
footer img {
    width:20%;
    padding-bottom: 20px;
}