* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 20vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    background-color: gray;
  }
  nav {
    ul {
      li {
        a {
          padding: 1rem;
          font-size: larger;
        }
      }
    }
  }
}

main {
  div.all-content {
    display: flex;
    margin: 0rem -3rem;

    div.new-content {
      section.new {
        div.date {
          padding: 0rem;
          // margin: 0rem;
        }
        div.newsContent {
          p {
            padding: 10px 0px;
          }
        }
      }
    }

    section.complementary {
      //   width: 10vw;
      background-color: aquamarine;
      //   color: rgb(177, 24, 24);
      article {
        margin: 2rem 0.25rem;
        background-color: bisque;
        div.newBody {
          padding: 1rem;
          div.date {
            margin: 1rem;
            // background-color: blueviolet;
          }
          div.title {
            margin: 0.5rem 1rem 0rem 1rem;
          }
          a {
            color: black;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
